<h1>My Amazing Tiny App</h1>
<h2>Fear my app dev abilities</h2>

<form action="/login" method="POST">
  <label for="username">Choose a Username</label>
  <input id="username" type="text" name="username" placeholder="type your username here" style="width: 300px">
  <input type="submit" value="Submit">
</form>