<h1>My Amazing Tiny App</h1>
<h2>Fear my app dev abilities</h2>


<% if(username) { %>
  <h3>You are logged in as <%= username %></h3>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<% } else { %>


<form action="/login" method="POST">
  <label for="username">Choose a Username</label>
  <input id="username" type="text" name="username" placeholder="type your username here" style="width: 300px">
  <input type="submit" value="Submit">
</form>

<% }  %>