<h1>MyTinyApp</h1>

<% if(user_id === undefined) { %>

  <p>You are not currently logged in. Please <a href="/login">Login</a> or <a href="/register">Register</a>.</p>

<% } else { %>

<p class="ele_inline">You are logged in with <%= user_id.email %></p>


  <form class="ele_inline" action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>

<% }  %>