<h1>My Amazing Tiny App</h1>
<h2>Fear my app dev abilities</h2>


<% if(user_id === undefined) { %>

  <p>You are not currently logged it</p>
  <a href="/register">Register</a>
  <a href="/login">Login</a>


<% } else { %>

<h3>You are logged in with

</h3>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>

<% }  %>