<h1>My Amazing Tiny App</h1>
<h2>Fear my app dev abilities</h2>


<% if(user_id === undefined) { %>

  <p>You are not currently logged in. Please <a href="/login">Login</a> or <a href="/register">Register</a>.</p>

<% } else { %>

<p>You are logged in with <%= user_id.email %></p>


  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>

<% }  %>