<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ../partials/_header.ejs %>
</header>

<body>

<%= 'The link ' + urls[shortURL] + ' has been shortened to ' + shortURL %>

</body>
</html>