<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ../partials/_header.ejs %>
</header>

<body>
  <ul>

    <% for(var url in urls) { %>
      <p><%= url + ': ' + urls[url].long %></p>
      <a href="/urls/<%= url %>">Edit</a>

      <% if(user_id.id === urls[url].userID) { %>

        <form method="POST" action="/urls/<%= url %>/delete">
          <input type="submit" value="DELETE">
        </form>
      <% } %>

    <% } %>

  </ul>

  <% if(user_id) { %>

    <a href="/urls/new">Make a new tiny link!</a>

  <% } %>

<!-- <form method="POST" action="/urls/9sm5xK/delete">...</form> -->


<!--<form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
 -->
</body>
</html>