<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_head.ejs %>
</head>

<header>
    <% include ../partials/_header.ejs %>
</header>

<body>
  <ul class="ele_inline">
    <% for(var url in urls) { %>
      <p class="ele_inline"><%= 'http://localhost:8080/u/' + url + ' will redirect to ' + urls[url].long %><a href="/urls/<%= url %>">Edit</a></p>

      <% if(user_id.id === urls[url].userID) { %>

        <form class="ele_inline" method="POST" action="/urls/<%= url %>/delete">
          <input type="submit" value="DELETE">
        </form>
      <% } %>

    <% } %>

  </ul>

  <% if(user_id) { %>

    <p><a href="/urls/new">Make a new tiny link!</a></p>

  <% } %>

</body>
</html>