<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_head.ejs %>
</head>

<header>
    <% include ../partials/_header.ejs %>
</header>

<body>

  <h2>Your Tiny Links</h2>
  <ol><% for(var url in urls) { %>
    <li><strong><%= 'http://localhost:8080/u/' + url %></strong> will redirect to <strong><%= urls[url].long %></strong>     <a href="/urls/<%= url %>">Edit the Link</a>

    <% if(user_id.id === urls[url].userID) { %>

      <form method="POST" action="/urls/<%= url %>/delete">
        <input type="submit" value="DELETE">
      </form>

    <% } %></li>

  <% } %></ol>

  <% if(user_id) { %>

    <p><a href="/urls/new">Make a new tiny link!</a></p>

  <% } %>

</body>
</html>